---
import axios from 'axios';

interface Form {
   name: string;
   email: string;
   message: string;
}

const sendEmail = async (e: any, form: Form): Promise<void> => {
   e.preventDefault();
   try {
      const { name, message, email } = form;
      const htmlContent = `<html><head></head><body><p>${message}</p></body></html>`;
      const body = {
         sender: {
            name: name,
            email: email,
         },
         to: [
            {
               email: 'jullaltamiranop@gmail.com',
               name: 'Jull',
            },
         ],
         subject: 'CONTACTO PORTAFOLIO',
         htmlContent: htmlContent,
      };

      const { data } = await axios.post('https://api.brevo.com/v3/smtp/email', body, {
         headers: {
            Accept: 'application/json',
            'Content-Type': 'application/json',
            'api-key': import.meta.env.PUBLIC_BREVO_API_KEY,
         },
      });

      return data;
   } catch (error) {
      console.log(error);
   }
};
---

<section id='contacto'>
   <form
      action='https://formsubmit.co/54201af919b3af7ab62ad8e343e17675 '
      method='POST'
      id='emailForm'
      class='bg-zinc-800 px-8 py-14 lg:px-72 md:px-40 sm:py-20 sm:px-16'>
      <div class='grid grid-cols-2 gap-4'>   
         <span class='col-span-2 text-2xl font-semibold text-white mb-4'>Contáctame</span>
         <div class='col-span-2 md:col-span-1'>
            <div class='relative h-10 w-full min-w-[100px] lg:min-w-[200px]'>
               <input
                  id='name'
                  name='name'
                  class='peer h-full w-full rounded-[7px] border border-zinc-200 bg-transparent px-3 py-2.5 font-sans text-sm font-normal text-zinc-200 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-zinc-200 placeholder-shown:border-t-zinc-200 focus:border-2 focus:border-teal-400 focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-zinc-50'
                  placeholder=' '
               />
               <label
                  class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-zinc-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-blue-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-blue-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-zinc-400 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-teal-400 peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:border-teal-400 peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:border-teal-400 peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-zinc-400">
                  Nombre
               </label>
            </div>
         </div>
         <div class='col-span-2 md:col-span-1'>
            <div class='relative h-10 w-full min-w-[100px] lg:min-w-[200px]'>
               <input
                  id='email'
                  name='email'
                  type='email'
                  class='peer h-full w-full rounded-[7px] border border-zinc-200 bg-transparent px-3 py-2.5 font-sans text-sm font-normal text-zinc-200 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-zinc-200 placeholder-shown:border-t-zinc-200 focus:border-2 focus:border-teal-400 focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-zinc-50'
                  placeholder=' '
               />
               <label
                  class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-zinc-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-blue-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-blue-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-zinc-400 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-teal-400 peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:border-teal-400 peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:border-teal-400 peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-zinc-400">
                  Email
               </label>
            </div>
         </div>
         <div class='col-span-2'>
            <div class='relative w-full min-w-[100px] lg:min-w-[200px]'>
               <textarea
                  id='message'
                  name='message'
                  class='peer h-full w-full rounded-[7px] border border-zinc-200 bg-transparent px-3 py-2.5 font-sans text-sm font-normal text-zinc-200 outline outline-0 transition-all placeholder-shown:border placeholder-shown:border-zinc-200 placeholder-shown:border-t-zinc-200 focus:border-2 focus:border-teal-400 focus:border-t-transparent focus:outline-0 disabled:border-0 disabled:bg-zinc-50'
                  placeholder=' '
               ></textarea>
               <label
                  class="before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-normal leading-tight text-zinc-400 transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-blue-gray-200 before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-blue-gray-200 after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[3.75] peer-placeholder-shown:text-zinc-400 peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-teal-400 peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:border-teal-400 peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:border-teal-400 peer-disabled:text-transparent peer-disabled:before:border-transparent peer-disabled:after:border-transparent peer-disabled:peer-placeholder-shown:text-zinc-400">
                  Mensaje
               </label>
            </div>
         </div>
         <input
            type='hidden'
            name='_next'
            value='https://portfolio-2024-seven-sigma.vercel.app/#contacto'
         />
         <input
            type='hidden'
            name='_captcha'
            value='false'
         />
      </div>
      <button
         id='sendBtn'
         class='rounded bg-teal-400 text-white font-semibold text-sm px-4 py-1 mt-2 disabled:bg-zinc-700 disabled:text-zinc-500 hover:scale-110 transition-all'>
         ENVIAR
      </button>
   </form>
</section>

<script>
   document.addEventListener('DOMContentLoaded', function () {
      const nameInput: any = document.getElementById('name');
      const emailInput: any = document.getElementById('email');
      const messageInput: any = document.getElementById('message');
      const sendBtn = document.getElementById('sendBtn');

      // Función para verificar si los campos están completos
      function validarCampos() {
         const nombre = nameInput?.value.trim();
         const email = emailInput?.value.trim();
         const mensaje = messageInput?.value.trim();

         // Verificar si todos los campos tienen datos
         if (nombre !== '' && email !== '' && mensaje !== '') {
            sendBtn?.removeAttribute('disabled'); // Habilitar el botón de enviar
         } else {
            sendBtn?.setAttribute('disabled', 'true'); // Deshabilitar el botón de enviar
         }
      }

      // Event listeners para los campos de entrada
      nameInput.addEventListener('input', validarCampos);
      emailInput.addEventListener('input', validarCampos);
      messageInput.addEventListener('input', validarCampos);

      // Llamar a la función una vez al cargar la página para inicializar el estado del botón
      validarCampos();
   });
</script>
