---
const char1 = '<';
const char2 = '/>';
---

<nav class='hidden fixed top-0 w-full lg:flex bg-navbar px-32 justify-between items-center py-3'>
   <div>
      <p class='font-bold text-2xl'>
         <span class='text-green'>{ char1 }</span>
         <span class='text-zinc-100'>JULL ALTAMIRANO</span>
         <span class='text-green'> { char2 }</span>
      </p>
   </div>
   <div>
      <ul class="flex gap-16">
         <a class="text-zinc-100 font-semibold hover:scale-105 transition menu-item" href="#about" >Sobre mí</a>
         <a class="text-zinc-100 font-semibold hover:scale-105 transition menu-item" href="#habilidades" >Habilidades</a>
         <a class="text-zinc-100 font-semibold hover:scale-105 transition menu-item" href="#proyectos" >Proyectos</a>
         <a class="text-zinc-100 font-semibold hover:scale-105 transition menu-item" href="#contacto" >Contacto</a>
      </ul>
   </div>
</nav>
<style>
   .bg-navbar {
      background-color: rgb(35, 35, 35);
   }

   .menu-item:hover {
      color: var(--main-color) !important;
   }
</style>
